@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

@import 'highlight.js/styles/atom-one-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
//@import 'codemirror/lib/codemirror.css';
//@import 'codemirror/theme/material-darker.css';

.subtle-red {
  background: #211A19;
}

.subtle-green {
  background: #19211b;
}

.subtle-blue:hover {
  background: #211f19;
  color: #d1bd7b;
}

.subtle-highlight {
  background: #211e19;
}

body {
  @apply font-serif;
  @apply bg-gray-900;
}

html {
  @apply bg-gray-900;
}

.cm-s-material-darker.CodeMirror {
  background: transparent;
}


.cm-editor {
  outline: none !important;
}

.cm-editor div {
  font-family: "Source Code Pro", monospace !important;
}